<%= form_with(model: waitlist, local: true) do |form| %>
  <% if waitlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waitlist.errors.count, "error") %> prohibited this waitlist from being saved:</h2>

      <ul>
      <% waitlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <strong> Tour Name:</strong>
      <%= Tour.find(params[:tour_id]).name %>
    </p>
    <p>
      <strong> Available Seats:</strong>
      <%= Tour.find(params[:tour_id]).available_seats %>
    </p>
    <p>
      <strong>Total Seats:</strong>
      <%= Tour.find(params[:tour_id]).total_seats %>
    </p>
  </div>

  <div class="field">
    <%= form.label 'Book available seats (Note: if you enter 0 or leave it blank, it will not book)' %>
    <%= form.number_field :book_seats,  value: Tour.find(params[:tour_id]).available_seats || '' %>
  </div>

  <div class="field">
    <%= form.label 'Wait List seats' %>
    <%= form.number_field :requested_seats, value: form.object.requested_seats || (params[:book_seats].to_i - Tour.find(params[:tour_id]).available_seats) %>
  </div>

  <div class="actions">
    <%= hidden_field_tag 'book_seats', params[:book_seats] %>
    <%= hidden_field_tag 'tour_id', params[:tour_id] %>
    <%= form.submit %>
  </div>
<% end %>
