<p id="notice"><%= notice %></p>

<p>
  <strong>Requested seats:</strong>
  <%= @waitlist.requested_seats %>
</p>

<p>
  <strong>User:</strong>
  <%= @waitlist.user %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @waitlist.tour %>
</p>

<%= link_to 'Edit', edit_waitlist_path(@waitlist) %> |
<%= link_to 'Back', waitlists_path %>
