<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@waitlist.user_id).name %>
</p>

<p>
  <strong>Tour:</strong>
  <%= Tour.find(@waitlist.tour_id).name %>
</p>

<p>
  <strong>Requested seats in Wait List:</strong>
  <%= @waitlist.requested_seats %>
</p>


<%= link_to 'Edit', edit_waitlist_path(@waitlist) %> |
<%= link_to 'Back', waitlists_path %>
