<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <strong>Tour name:</strong>
      <%= Tour.find(params[:tour_id]).name %>
    </p>
    <p>
      <strong> Available Seats:</strong>
      <%= Tour.find(params[:tour_id]).available_seats %>
    </p>
    <p>
      <strong>Total Seats:</strong>
      <%= Tour.find(params[:tour_id]).total_seats %>
    </p>
  </div>

  <div class="field">
    <%= form.label 'Book Seats for the Tour (Note: if you leave it blank or 0, you will book NO seats)' %>
    <%= form.number_field :booked_seats, value: params[:default_booked_seats] || form.object.booked_seats %>
  </div>

  <div class="field">
    <%= form.label 'Place seats in the Wait List' %>
    <%= form.number_field :waitlist_seats, value: params[:default_waitlist_seats] || form.object.waitlist_seats %>
  </div>

  <div class="actions">
    <%= hidden_field_tag 'tour_id', params[:tour_id] %>
    <%= form.submit 'Book/Wait List', data: { confirm: 'Confirm Booking/Wait List' } %>
  </div>
<% end %>
