<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <strong>Tour name:</strong>
      <%= Tour.find(params[:tour_id]).name %>
    </p>
  </div>

  <div class="field">
    <%= form.label :booked_seats %>
    <%= form.number_field :booked_seats %>
  </div>

  <div class="actions">
    <%= hidden_field_tag 'tour_id', params[:tour_id] %>
    <%= form.submit data: { confirm: 'Confirm to Book' } %>
  </div>
<% end %>
