<p id="notice"><%= notice %></p>

<h1>My Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Tour name</th>
      <th>Tour price</th>
      <th>Tour start location</th>
      <th>Tour start date</th>
      <th>Tour end date</th>
      <th>Tour status</th>
      <th>Booked seats</th>
      <th>My wait list</th>
      <th>Tour Available seats</th>
      <th>Tour Wait list</th>
      <th>Tour total seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <% if current_user.id == booking.user_id && booking.bookmark.nil? %>
        <tr>
          <td><%= booking.find_booked_tour.name %></td>
          <td><%= booking.find_booked_tour.price %></td>
          <td><%= booking.find_booked_tour.start_location %></td>
          <td><%= booking.find_booked_tour.start_date %></td>
          <td><%= booking.find_booked_tour.end_date %></td>
          <td><%= booking.find_booked_tour.show_status %></td>
          <td><%= booking.booked_seats %></td>
          <td><%= booking.waitlist_seats %></td>
          <td><%= booking.find_booked_tour.available_seats %></td>
          <td><%= booking.find_booked_tour.get_waitlist %></td>
          <td><%= booking.find_booked_tour.total_seats %></td>
          <td><%= link_to 'Show Tour', booking.find_booked_tour %></td>
          <td><%= link_to 'Show Bookmark', booking %></td>
          <td><%= link_to 'Edit Bookmark', edit_booking_url(booking, tour_id: booking.find_booked_tour.id) %></td>
          <td><%= link_to 'Delete Bookmark', booking, method: :delete, data: { confirm: 'Are you sure to delete Bookmark?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', home_index_url %> |
<%= link_to 'Create New Booking', tours_path %> |
<%= link_to 'Back', home_index_url %>