<p id="notice"><%= notice %></p>

<p>
  <strong>Booked seats:</strong>
  <%= @booking.booked_seats %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.find_booked_tour.show_status %>
</p>

<p>
  <strong>Tour name:</strong>
  <%= @booking.find_booked_tour.name %>
</p>

<p>
  <strong>Tour price:</strong>
  <%= @booking.find_booked_tour.price %>
</p>

<p>
  <strong>Tour start date:</strong>
  <%= @booking.find_booked_tour.start_date %>
</p>

<p>
  <strong>Tour end date:</strong>
  <%= @booking.find_booked_tour.end_date %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @booking.find_booked_tour.available_seats %>
</p>

<p>
  <strong>Your wait listed seats:</strong>
  <%= @booking.waitlist_seats %>
</p>

<p>
  <strong>Tour total seats:</strong>
  <%= @booking.find_booked_tour.total_seats %>
</p>

<p>
  <strong>Tour wait list seats:</strong>
  <%= @booking.find_booked_tour.get_waitlist %>
</p>

<p>
  <strong>Tour status:</strong>
  <%= @booking.find_booked_tour.show_status %>
</p>

<br>
<%= button_to 'Edit Booking', edit_booking_path(@booking), method: :get, params: { tour_id: @booking.find_booked_tour.id } %>
<%= button_to "Delete", @booking, method: :delete, data: { confirm: 'Are you sure Deleting Booking?' } %>
<br> <br>

<%= link_to 'Home', home_index_url %> |
<%= link_to 'Edit Booking', edit_booking_path(@booking, tour_id: @booking.find_booked_tour.id) %> |
<%= link_to 'View Booked Tour', @booking.find_booked_tour %> |
<%= link_to 'All Tours', tours_path %> |
<%= link_to 'Delete Booking', @booking, method: :delete, data: { confirm: 'Are you sure Deleting Booking?' } %> |
<%= link_to 'Back', my_bookings_url %>
