<p id="notice"><%= notice %></p>

<p>
  <strong>Booked seats:</strong>
  <%= @booking.booked_seats %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @booking.tour %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
