<p id="notice"><%= notice %></p>

<p>
  <strong>Booked seats:</strong>
  <%= @booking.booked_seats %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.find_booked_tour.show_status %>
</p>

<p>
  <strong>Tour name:</strong>
  <%= @booking.find_booked_tour.name %>
</p>

<p>
  <strong>Tour price:</strong>
  <%= @booking.find_booked_tour.price %>
</p>

<p>
  <strong>Tour start date:</strong>
  <%= @booking.find_booked_tour.start_date %>
</p>

<p>
  <strong>Tour end date:</strong>
  <%= @booking.find_booked_tour.end_date %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @booking.find_booked_tour.available_seats %>
</p>

<p>
  <strong>Wait list:</strong>
  <%= @booking.find_booked_tour.get_waitlist %>
</p>

<p>
  <strong>Total seats:</strong>
  <%= @booking.find_booked_tour.total_seats %>
</p>

<p>
  <strong>Tour status:</strong>
  <%= @booking.find_booked_tour.show_status %>
</p>

<%= link_to 'Edit Booking', edit_booking_path(@booking, tour_id: @booking.find_booked_tour.id) %> |
<%= link_to 'View Booked Tour', @booking.find_booked_tour %> |
<%= link_to 'All Tours', tours_path %> |
<%= link_to 'Back', my_bookings_url %>
