<p id="notice"><%= notice %></p>

<h1>Let's Get Started!</h1>

<%= link_to 'Edit/Delete Profile', edit_user_registration_url %>

<% if current_user.admin? %>
  <h1>Users section</h1>
  Only for Admin purposes:<br>
  <%= link_to 'Create/View/Edit/Delete Users', admin_url %>
  <br>
<% end %>

<h1>Tours section</h1>
<% if current_user.admin? || current_user.agent? %>
  <%= link_to 'Create/View/Edit/Cancel/Delete Tours', tours_url %>
  <br>
<% end %>
<% if current_user.admin? || current_user.customer? %>
  <%= link_to 'View/Book Tours', tours_url %>
  <br>
<% end %>

<br>

<% if current_user.admin? || current_user.customer? %>
  <h1>My Bookings section</h1>
  <%= link_to 'My Bookings', my_bookings_url %>
<% end %>

<h1>Reviews section</h1>
<%= link_to 'Tours Reviews', reviews_url %>

<br>

<h1>Search section</h1>
<%= link_to 'Search Tour', search_url %>

<br><br><br>

<%= link_to 'Home', home_index_url %>
