<p id="notice"><%= notice %></p>

<h1>Let's Get Started!<br>What do you want to do?</h1>

<%= link_to 'Edit/Delete Profile', edit_user_registration_url %>

<% if current_user.admin? %>
  <br>
  <h1>Users section (only for Admin purposes)</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% if !user.admin? %>
          <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br><br>
  <td><%= link_to 'Create New User', new_user_url %></td>
<% end %>

<br><br>

<h1>Tours section</h1>
<% if current_user.admin? || current_user.agent? %>
  <%= link_to 'Create/View/Edit/Cancel/Delete Tours', tours_url %>
  <br>
<% end %>
<% if current_user.admin? || current_user.customer? %>
  <%= link_to 'View/Book Tours', tours_url %>
  <br>
<% end %>

<br>

<% if current_user.admin? || current_user.customer? %>
  <h1>My Bookings section</h1>
  <%= link_to 'My Bookings', my_bookings_url %>
<% end %>

<% if current_user.admin? || current_user.agent? %>
  <h1>Reviews section</h1>
  <%= link_to 'View Reviews of My Tours', reviews_url %>
<% end %>

<br><br>

<%= link_to 'Home', home_index_url %>
