<div>
  <h1>Welcome to Tours Application</h1>
  <p>Tour Management System:</p>
  <%= link_to 'User Page', users_url %>
  <br>
  <%= link_to 'Tours Page', tours_url %>
  <br>
  <% if user_signed_in? %>
    <% if current_user.admin? || current_user.agent? %>
      <%= link_to 'My Customers booked my Tours', bookings_url %>
      <br>
      <%= link_to 'Customers with Bookmarks of my Tours', agent_bookmarks_url %>
      <br>
      <%= link_to 'Reviews of my Tours', reviews_url %>
      <br>
    <% elsif current_user.admin? || current_user.customer? %>
      <%= link_to 'My Bookings Page', my_bookings_url %>
      <br>
      <%= link_to 'My Bookmarks Page', customer_bookmarks_url %>
      <br>
      <%= link_to 'Reviews Page', reviews_url %>
      <br>
    <% end %>
    <%= link_to 'Search Tour Page', search_url %>
    <br>
  <% else %>
    <%= link_to 'Customers Page', bookings_url %>
    <br>
    <%= link_to 'Bookings Page', bookings_url %>
    <br>
    <%= link_to 'Reviews Page', reviews_url %>
    <br>
    <%= link_to 'Bookmarks Page', agent_bookmarks_url %>
    <br>
    <%= link_to 'Search Tour Page', search_url %>
    <br>
  <% end %>
</div>