<p id="notice"><%= notice %></p>
  <h1>Search Tours</h1>
    <%= form_tag(tours_path, method: :get) do %>
      <h3>Search by name:</h3>
      <%= text_field_tag 'search[tour_name]', @search.tour_name %> <br>
      <%= submit_tag ("Search") %>

      <h3>Search by dates (YYYY-MM-DD, example 2019-02-22):</h3>
      <p>From:</p><%= text_field_tag 'search[date_from]', @search.date_from %>
      <br>
      <p>To:</p><%= text_field_tag 'search[date_to]', @search.date_to %> <br>
      <%= submit_tag ("Search") %>

      <h3>Search by price:</h3>
      <p>Min:</p><%= text_field_tag 'search[price_from]', @search.price_from %>
      <br>
      <p>Max:</p><%= text_field_tag 'search[price_to]', @search.price_to %> <br>
      <%= submit_tag ("Search") %>

      <h3>Search by seats availability: </h3>
      <%= text_field_tag 'search[seats]', @search.seats %> <br>
      <%= submit_tag ("Search") %>

      <h3>Search by tour itinerary: </h3>
      <%= text_field_tag 'search[location]', @search.location %> <br>
      <%= submit_tag ("Search") %>

    <% end %>

<br><br>

<%= link_to 'Home', home_index_url %> |
<% if current_user.agent? || current_user.admin? %>
  <%= link_to 'Create New Tour', new_tour_path %> |
  <%= link_to 'List All My Customers', bookings_url(id: current_user.id) %> |
  <%= link_to 'List Customers with Bookmarks', agent_bookmarks_url %> |
<% end %>

<% if current_user.customer? || current_user.admin? %>
  <td><%= link_to 'My Booked Tours', my_bookings_url %></td> |
  <td><%= link_to 'My Bookmarks', customer_bookmarks_url %></td> |
<% end %>

<td><%= link_to 'Back to User page', users_url %></td>

