<p id="notice"><%= notice %></p>
<%= form_tag(bookmark_url, method: :get)  do %>

  <% if current_user.customer? || current_user.admin? %>
    <p>
      <strong>Bookmark:</strong>
      <%= check_box_tag 'tour_id[]', @tour.id %>
      <%= submit_tag 'Bookmark!' %>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @tour.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @tour.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @tour.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to "View Image", image_url(tour_id: @tour.id) %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @tour.deadline %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @tour.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @tour.end_date %>
  </p>

  <p>
    <strong>Start location:</strong>
    <%= @tour.start_location %>
  </p>

  <p>
    <strong>Countries itinerary:</strong>
    <%= @tour.country %>
  </p>

  <p>
    <strong>States itinerary:</strong>
    <%= @tour.state %>
  </p>

  <p>
    <strong>Available seats:</strong>
    <%= @tour.available_seats %>
  </p>

  <p>
    <strong>Wait list:</strong>
    <%= @tour.get_waitlist %>
  </p>

  <p>
    <strong>Total seats:</strong>
    <%= @tour.total_seats %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @tour.show_status %>
  </p>

  <p>
    <strong>Contact information:</strong>
    <%= @tour.show_agent_info %>
  </p>
<% end %>

<br>

<% if current_user.admin? || (current_user.agent? && current_user.id == @tour.user_id && !@tour.is_completed? && !@tour.canceled) %>
  <%= button_to "Cancel", cancel_tour_tour_path(@tour), method: :put, data: { confirm: 'Are you sure Cancelling Tour?' } %>
<% end %>
<% if current_user.admin? || (current_user.agent? && current_user.id == @tour.user_id) %>
  <%= button_to 'Edit', edit_tour_path(@tour), method: :get %>
  <%= button_to "Booked Customers", my_customers_booked_url, method: :get, params: {tour_id: @tour.id} %>
  <%= button_to "Bookmarked Customers", my_customers_bookmarked_url, method: :get, params: {tour_id: @tour.id} %>
  <br><br>
<% end %>

<% if current_user.admin? || (current_user.customer? && !@tour.is_completed? && !@tour.canceled && !@tour.is_booked?(current_user.id)) %>
  <%= button_to "Book", new_booking_url, method: :get, params: {tour_id: @tour.id} %>
  <br><br>
<% end %>




<h2>Reviews:</h2>
<% if @tour.show_status == "Completed" %>
  <% if current_user.admin? || (current_user.customer? && @tour.is_taken?(current_user.id)) %>
    <% if @tour.get_customer_review(current_user.id).nil? %>
      <%= button_to "Write Review", new_tour_review_url(@tour.id), method: :get %>
    <% else %>
      <%= button_to "Edit Review", edit_tour_review_url(@tour, @tour.get_customer_review(current_user.id)), method: :get %>
    <% end %>
  <% end %>
  <% if current_user.admin? || (current_user.customer? && !@tour.is_taken?(current_user.id)) %>
    <p>You cannot write review since you have not taken this Tour. But you can see others' Reviews</p>
    <%= button_to "View Reviews", show_tour_review_url, method: :get, params: { tour_id: @tour.id} %>
  <% end %>
  <% if current_user.admin? || (current_user.agent? && current_user.id == @tour.user_id) %>
    <p>This is your Tour. See what customers think about your Tour?</p>
    <%= button_to "View Reviews", show_tour_review_url, method: :get, params: { tour_id: @tour.id} %>
  <% end %>
<% else %>
  <p>Reviews for this Tour are unavailable since it has not been Completed</p>
<% end %>

<br><br>

<% if current_user.admin? || (current_user.agent? && current_user.id == @tour.user_id) %>
  <%= button_to 'Delete', @tour, method: :delete, data: { confirm: 'Are you sure Deleting Tour?' } %>
  <br>
<% end %>


<%= link_to 'Home', home_index_url %> |
<% if current_user.admin? || (current_user.customer? && !@tour.is_completed? && !@tour.canceled && !@tour.is_booked?(current_user.id)) %>
  <%= link_to 'Book Tour', new_booking_path(tour_id: @tour.id) %> |
<% end %>
<% if current_user.admin? || (current_user.agent? && current_user.id == @tour.user_id) %>
  <%= link_to "Booked Customers", my_customers_booked_url(tour_id: @tour.id) %> |
  <%= link_to "Bookmarked Customers", my_customers_bookmarked_url(tour_id: @tour.id) %> |
<% end %>
<% if @tour.show_status == "Completed" %>
  <% if current_user.admin? || (current_user.customer? && @tour.is_taken?(current_user.id)) %>
    <% if @tour.get_customer_review(current_user.id).nil? %>
      <%= link_to "Write Review", new_tour_review_path(tour_id: @tour.id) %> |
    <% else %>
      <%= link_to 'Edit Review', edit_tour_review_path(@tour, @tour.get_customer_review(current_user.id)) %> |
    <% end %>
  <% end %>
  <% if current_user.admin? || (current_user.customer? && !@tour.is_taken?(current_user.id)) %>
    <%= link_to "View Reviews", show_tour_review_url(tour_id: @tour.id) %> |
  <% end %>
  <% if current_user.admin? || (current_user.agent? && current_user.id == @tour.user_id) %>
    <%= link_to "View Reviews", show_tour_review_url(tour_id: @tour.id) %> |
  <% end %>
<% end %>
<% if current_user.admin? || current_user.agent? %>
  <%= link_to 'Back to My Customers', bookings_url(id: current_user.id) %> |
  <%= link_to 'Edit', edit_tour_path(@tour) %> |
  <% if !@tour.is_completed? && !@tour.canceled %>
    <%= link_to 'Cancel', cancel_tour_tour_path(@tour), method: :put, data: { confirm: 'Are you sure Cancelling Tour?' } %> |
  <% end %>
<% end %>

<%= link_to 'Search Tour', search_url %> |
<%= link_to 'Back to Tours', tours_path %>
