<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @tour.image.url(:large) %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @tour.deadline %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tour.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tour.end_date %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @tour.start_location %>
</p>

<p>
  <strong>Countries itinerary:</strong>
  <%= @tour.country %>
</p>

<p>
  <strong>States itinerary:</strong>
  <%= @tour.state %>
</p>

<p>
  <strong>Total seats:</strong>
  <%= @tour.total_seats %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tour.show_status %>
</p>

<p>
  <strong>Contact information:</strong>
  <%= @tour.show_agent_info %>
</p>

<% if current_user.admin? || current_user.agent? %>
  <%= link_to 'Edit', edit_tour_path(@tour) %> |
  <% if !@tour.isCompleted? %>
    <%= link_to 'Cancel', cancel_tour_tour_path(@tour), method: :put, data: { confirm: 'Are you sure to cancel Tour?' }   %> |
  <% end %>
<% end %>
<%= link_to 'Back', tours_path %>
