<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Customer email</th>
      <th>Rating</th>
      <th>Subject</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <% if current_user.admin? || (current_user.agent? && current_user.id == review.get_tour_agent_id) %>
          <td><%= review.get_customer_name %></td>
          <td><%= review.get_customer_email %></td>
        <% else %>
          <td>Confidential Information</td>
          <td>Confidential Information</td>
        <% end %>
        <td><%= review.rating %></td>
        <td><%= review.subject %></td>
        <td><%= review.content %></td>
        <td><%= link_to 'Show', review %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', home_index_url %> |
<% if current_user.admin? %>
  <%= link_to 'New Review', new_review_path %> |
<% end %>
<%= link_to 'Back to Tours', tours_url %>
