<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @review.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
	<strong>User</strong>
	<%= @review.user.name %>
</p>

<p>
	<strong>Email</strong>
	<%= @review.user.email %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
