<!DOCTYPE html>
<html>
  <head>
    <title>ToursApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    Welcome <%= current_user.name %>, <%= current_user.email %><br />
    <%= current_user.name %> is signed in as <%= current_user.role %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>

  <section>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </section>

  </body>
</html>
